@import "bootstrap/dist/css/bootstrap.min.css";

.app { margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
scroll-padding-top: 90px;
}

:root {
    --color-principal: #e00606;
    --color-secundario: #ffffff;
    --color-terciario: #ecb309;
    --color-cuarto:#3c06b1;
}

/* nav {
background: linear-gradient(var(--color-principal) ,#000000 ) ;
color:rgb(0, 0, 0);
margin: 0;
width: 100%;
height: 700px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */


.links{
color: var(--color-terciario);
text-decoration: none;
display: inline-block;
padding: 15px 10px 15px 10px;
background: linear-gradient(var(--color-principal) , black ) ;
border: solid 2px var(--color-secundario);
cursor: pointer;
border-radius: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.home{
  margin: 0 auto ;
  box-sizing: border-box;
background: linear-gradient(to right ,rgb(0, 78, 196) , rgb(0, 0, 0)) ;
padding-top: 50px;
width: 100%;
}





.logo{
  width: 100;
 height: 100;
 object-Fit: contain;
}


/* .lista{
  display: flex;
} */

.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* 
.card{
  padding: 20px; */

.lista {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*----- estilos de las cards------ */
.cardStyle{
  background: linear-gradient(to top ,rgb(0, 78, 196) , rgb(0, 23, 58)) ;
  border: solid 4px rgb(0, 0, 0);
  box-Shadow: 8px 8px 10px rgba(0, 0, 0, 0.844);
}
.card{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 35vh;
  height: 55vh;
  margin: 2vh;
  padding: 2vh;
}
/* --------------------------------- */

.logo{
  width: 17vh;
  height: 17vh;
  position: absolute;
  z-index: 999;
  bottom: 27vh;
  left: 10vh;
}

.img-act:hover{transform: scale(1.5);
  filter: drop-shadow( 5px 5px 4px rgb(0, 0, 0)); 
  }
  
.pokeball{
  height: 27vh;
  object-Fit: contain;
  margin: 0 auto;
  z-index: 100;
}

.tipo{
  font-weight: bold;
  text-transform: capitalize;
}
.name-poke{
  text-transform: capitalize;
  color: rgb(249, 215, 0);
}


.id-poke{
  text-transform: capitalize;
  color: rgb(249, 215, 0);
}



.btn-det{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100px;
  border: solid 2px black;
  background-color: #3c06b1;
  color: black;
  text-decoration: none;
}

.btn-det:hover{
  background-color: #0a4be1;
  border-radius: 10px;
  border: solid 2px black;
  color: #000000;
  cursor: pointer;
}


.btn-fav{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100px;
  border: solid 2px black;
  background-color: #bc0612;
  color: black;
  text-decoration: none;
}
.btn-fav:hover{
  background-color: #f32525;
  border-radius: 10px;
  border: solid 2px black;
  color: #000000;
  cursor: pointer;
}

.btn-act:active{transform: scale(0.95);
}


.card-buttons{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.btn-cargar{
  display: flex;
  width: 13rem;
  justify-content: space-around;
}
.sig-ant{
  border-radius: 10px;
  width: 100px;
  border: solid 2px black;
  background-color: #bc0612;
  color: black;
  text-decoration: none;

}

.sig-ant:hover{
  background-color: #0a4be1;
  border-radius: 10px;
  border: solid 2px black;
  color: #000000;
  cursor: pointer;}

footer {
  background: linear-gradient(var(--color-cuarto) ,#000000 ) ;
  color:rgb(255, 255, 255);
  margin: 0;
  width: 100%;
  height: 70px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
