@import "bootstrap/dist/css/bootstrap.min.css";

.app { margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
scroll-padding-top: 90px;
  /* background: conic-gradient( black , rgb(255, 255, 255) , black , rgb(205, 22, 22) , black); */
}


/* estilos de la barra de navegación */
.barra{
position: fixed;
top: 0;
width: 100%;
height: 7vh;
background: linear-gradient(  rgb(46, 2, 2) , rgb(96, 4, 4) );
align-content: center;
z-index: 1000;
display: flex;
justify-content: space-evenly;

}
.nav{
display: inline-block;
}

.logo-poke{
position: relative;
}

.nav-list{
display: contents;
margin: 0;
text-align: center;
}

.nav-item{
display: flex;
align-items: center;
margin-top:0;
padding: 1rem;

}

/* botones */
.nav-links{
color: #ecb309;
text-decoration: none;
display: inline-block;
padding: 7px 18px;
background: linear-gradient(to top  , rgb(7, 47, 120) ,#ae1610);
border: solid 2px rgb(0, 0, 0);
cursor: pointer;
border-radius: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.nav-links:hover{
  background: linear-gradient(to top  , rgb(27, 70, 149) ,#ae1610);
  /* background: linear-gradient(to top  , #2d4ac9 ,#e03d37); */
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-links:active{transform: scale(0.95);
  transition: transform 0.2s;
}


/* --------pages home------- */
.home{
  margin: 0 auto ;
  box-sizing: border-box;
  /* background: linear-gradient(to top  , #116298 ,#bf2722); */
  background: linear-gradient(to top  , rgb(7, 47, 120) ,#ae1610);
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemones {
  width: 60%;
  margin: 0 auto;
  filter: drop-shadow( 5px 5px 4px rgb(0, 0, 0));
}

.home-text{
  text-align: center;
  color: rgb(255, 255, 255);
  width: 75%;
  margin: 0 auto;
  font-size: 5vh;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}



/*----- estilos de las cards------ */

.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.lista {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: linear-gradient(to top  , #116298 ,#bf2722); */
  background: linear-gradient(to top ,rgb(0, 78, 196) , rgb(0, 23, 58)) ;
}

.subtitulo {
  margin-top: 1rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  width: 75%;
  text-align: center
}

.cardStyle{
  border: solid 4px rgb(0, 0, 0);
  box-Shadow: 8px 8px 10px rgba(0, 0, 0, 0.844);
  /* background: linear-gradient(to top ,rgb(0, 78, 196) , rgb(0, 23, 58)) ; */
  /* background: linear-gradient(to top  , #116298 ,#bf2722); */
  background: linear-gradient(to top  , rgb(7, 47, 120) ,#ae1610);
  /* background: conic-gradient( black , rgb(255, 255, 255) , black , rgb(205, 22, 22) , black); */
  border-radius: 10px;
}

.card{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 35vh;
  height: 55vh;
  margin: 2vh;
  padding: 2vh;
}

.logo{
  width: 100;
 height: 100;
 object-Fit: contain;
 cursor: pointer;
}



.btn-cargar{
  display: flex;
  width: 13rem;
  justify-content: space-around;
  padding: 12px;
  gap: 1rem;
}

/* --------------------------------- */

.logo{
  width: 17vh;
  height: 17vh;
  position: absolute;
  z-index: 999;
  bottom: 27vh;
  left: 10vh;
}

.img-act:hover{transform: scale(1.7);
  filter: drop-shadow( 5px 5px 4px rgb(0, 0, 0)); 
  }
  
.pokeball{
  height: 27vh;
  object-Fit: contain;
  margin: 0 auto;
  z-index: 100;
}

.tipo{
  font-weight: bold;
  text-transform: capitalize;
}
.name-poke{
  text-transform: capitalize;
color: #ecb309;
}


.id-poke{
  text-transform: capitalize;
color: #ecb309;
}

.card-buttons{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.btn-det{
  width: fit-content;
  border: solid 2px black;
  color: black;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.btn-det:hover{
  background-color: #0a4be1;
  color: black;
  cursor: pointer;
  border: solid 2px black;
  box-shadow: 1px 1px 5px #0a4be1;
  border: solid 2px rgb(38, 139, 247);
  filter: drop-shadow( 2px 1px 4px rgb(38, 139, 247)); 
}


.btn-fav{
  width: 6vh;
  border: solid 2px black;
  color: black;
  text-decoration: none;
  padding: 5px 7px 3px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-fav:hover{
  background-color: #f32525;
  color: #000000;
  border: solid 2px rgb(255, 125, 125);
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(255, 39, 39);
  filter: drop-shadow( 2px 1px 4px rgb(255, 125, 125)); 
}

.btn-act:active{transform: scale(0.95);
}


/* -------------pokedetails------------------------------------- */

h1,h2,h3{
  text-align: center;
  color: #ecb309;
  text-shadow: 5px 3px 5px #000000;
  text-transform: capitalize;
}

.pages{
  margin-top: 50px ;
  background: linear-gradient(to top  , #116298 ,#bf2722);
  width: 100%;
}

.header{
  display: inline-flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 2rem;
  gap: 10px;
  width: 100%;
}

.poke-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-deta{
  margin: 0 auto;
    height: 37vh;
  filter: drop-shadow( 5px 5px 4px rgb(0, 0, 0));

}

footer {
  background: linear-gradient(rgb(7, 47, 120) ,#000000 ) ;
  color:rgb(255, 255, 255);
  margin: 0;
  width: 100%;
  height: 70px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}



/* -------------------------- */
.details-container {
  /* background: linear-gradient(to top  , #116298 ,#bf2722); */
  background: linear-gradient(to top ,rgb(0, 78, 196) , rgb(0, 23, 58)) ;
  padding: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.details-container h1 {
  margin-bottom: 25px;
  margin-top: 55px;

}

.card-all{
  background: linear-gradient(to top  , rgb(7, 47, 120) ,#ae1610);
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: fit-content;
  margin: 0 auto;
  gap: 20px;
}

.details-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.image-section {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000 solid 2px;
}

.pokemon-img {
  width: 28vh;
 filter: drop-shadow( 5px 5px 4px rgb(0, 0, 0));

}

.info-section {
  text-align: left;
  background-color: #ca7b7b;
  border-radius: 15px;
  padding: 20px 30px;
  flex: 1;
}

.info-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.type-badge {
  background-color: #bcb6a9;
  color: #333;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 10px;
  border: #000000 solid 2px;

}

.type-text {
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem;
  text-transform: capitalize;
  width: fit-content;
  padding: 4px 10px;
  border: #000000 solid 2px;
  border-radius: 10px;
  text-align: center;}


  .peso-text , .stats-text {
  font-size: 0.9rem;
  color: #333;

}

.info-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.info-body p {
  margin: 10px 0;
  font-size: 0.95rem;
  color: #333;
}


.description {
  margin-top: 10px;
  font-style: italic;
}

.footer-text {
  margin-top: 2rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

/* fondo segun su tipo de colores */
.image-section.normal, .type-section.normal { background-color: #A8A77A; }
.image-section.fire, .type-section.fire { background-color: #EE8130; }
.image-section.water, .type-section.water { background-color: #6390F0; }
.image-section.grass, .type-section.grass { background-color: #7AC74C; }
.image-section.electric, .type-section.electric { background-color: #F7D02C; }
.image-section.ice, .type-section.ice { background-color: #96D9D6; }
.image-section.fighting, .type-section.fighting { background-color: #C22E28; }
.image-section.poison, .type-section.poison { background-color: #A33EA1; }
.image-section.ground, .type-section.ground { background-color: #E2BF65; }
.image-section.flying, .type-section.flying { background-color: #A98FF3; }
.image-section.psychic, .type-section.psychic { background-color: #F95587; }
.image-section.bug, .type-section.bug { background-color: #A6B91A; }
.image-section.rock, .type-section.rock { background-color: #B6A136; }
.image-section.ghost, .type-section.ghost { background-color: #735797; }
.image-section.dragon, .type-section.dragon { background-color: #6F35FC; }
.image-section.dark, .type-section.dark { background-color: #705746; }
.image-section.steel, .type-section.steel { background-color: #B7B7CE; }
.image-section.fairy, .type-section.fairy { background-color: #D685AD; }

/* ---------------------------- */
